body{
	background-color:#CFD8DC;
}

.nama{
	color: #BDBDBD;
	font-family: Segoe UI;
	font-size:15px;
}

#title{
	color:black;
	margin-top: 10px;
	font-size:40px;
	text-align:center;
	letter-spacing: 0.2em;
	font-family: Segoe UI;
	padding-top:20px;
	padding-bottom:30px;
}

section{
	width: 650px;
    box-shadow:0px 10px 20px #000000;
	color:black;
	background-color:#B0BEC5;
	margin:0px auto;
	margin-top: 30px;
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 40px;
	margin-bottom: 20px;
	padding-bottom:30px;
}